@import '~antd/dist/antd.css';

.page-container {
    width: 80vw;
    justify-content: center;
    align-content: center;
    margin: 1.5rem auto;
}

.productlisttable {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: white;
    width: 80vw;
    height: 80vh;
    position: relative;
    /* top: 5vh; */
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    /* margin-top: 2vh; */
}

.productlisttable .datatableTitle {
    width: 100%;
    font-family: 'Verdana', sans-serif;
    font-size: 100px;
    color: rgb(0, 0, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.productlisttable .cellAction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 15px;
}

.productlisttable .cellAction .registerButton {
    padding: 2px 5px;
    border-radius: 5px;
    color: darkblue;
    border: 1px dotted rgba(0, 0, 139, 0.596);
    cursor: pointer;
}

/* .create_form input {
    font-family: 'Inter', sans-serif;
    display: block;
    outline: none;
    border: none;
    height: 2.5rem;
    width: 100%;
    font-size: 15px;
    background-color: #F3F3F3;
    color: #333333;
    border-radius: 7px;
    padding-left: 10px;
    margin-bottom: 20px;
} */

/* .create_form input:focus {
    border: none;
    outline: none;
} */

.create_form label {
    font-family: 'Inter', sans-serif;
    display: flex;
    text-align: left;
    margin: auto;
    float: left;
    width: 100%;
    font-size: 15px;
    margin-bottom: 1rem;
    font-weight: 500;
}

/* 
.filter_product_retailer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    padding-top: 0.5%;
}
  
  
.filter_product_retailer input{
    margin-top: 20px;
    width: 30%;
    height: 8%;
    border-radius: 20px;
    font-size: 15px;
    padding-left: 10px;
    background-color: transparent;
    border: 2px solid #01185e;
    color: #013567;
    font-family: 'Verdana', sans-serif;
} */