/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
/org3-artifacts/crypto-config/*
organizations/fabric-ca/ordererOrg/*
organizations/fabric-ca/org1/*
organizations/fabric-ca/org2/*
organizations/ordererOrganizations/*
organizations/peerOrganizations/*
system-genesis-block/*
*.tar.gz
log.txt

# Org3 keystore & ca
addOrg3/fabric-ca/org3/msp/keystore/
addOrg3/fabric-ca/org3/ca-cert.pem
addOrg3/fabric-ca/org3/fabric-ca-server.db
addOrg3/fabric-ca/org3/IssuerPublicKey
addOrg3/fabric-ca/org3/IssuerRevocationPublicKey
addOrg3/fabric-ca/org3/tls-cert.pem